/* .slider {
    white-space: nowrap;
    overflow: hidden;
    animation: slide 10s linear infinite;
  }
  
  .slide img {
    height: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .slider {
      gap: 10px;
    }
  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */