.slider {
  display: flex;
  animation: slide 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.slide {
  padding: 0 3rem;
}

/* For mobile view */
@media (max-width: 640px) {
  .slide {
    padding: 0 1rem;
  }
  .slide img {
    width: 3rem; 
  }
}

/* For tablet view */
@media (min-width: 641px) and (max-width: 1024px) {
  .slide {
    padding: 0 2rem;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
