.slider {
  display: flex;
  animation: slide 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.slide {
  padding: 0 1.5rem;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
