
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@300;400;500;600;700&display=swap');

#root{
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Disabling the default light-blue overlay that comes with browsers */
.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

/* The spinning icons */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.freelancer-spin {
  @apply absolute;
  animation: spin 10s linear infinite;
}

.ig-spin {
  @apply absolute;
  animation: spin 12s linear infinite;
}

.client-spin {
  @apply absolute;
  animation: spin 14s linear infinite;
}

.messenger-spin {
  @apply absolute;
  animation: spin 16s linear infinite;
}


/* The product sliders */

.slider {
  white-space: nowrap;
  overflow: hidden;
  animation: slide 10s linear infinite;
}

.slide img {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .slider {
    gap: 10px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Customizing the slider pagination and navigation */
.swiper-pagination-bullet {
  background: #906CF9; /* your desired color */
  width: 20px; /* your desired size */
  height: 20px; /* your desired size */

 
  
}


.footer-grid {
  
}